<div class="container__big-card">
  <div class="big-card__photo">
    <img
      src="https://assetsio.reedpopcdn.com/iron-man_aJ1y3LP.jpg?width=1600&height=900&fit=crop&quality=100&format=png&enable=upscale&auto=webp"
      alt=""
      height="200px"
      width="300px"
    />
  </div>
  <div class="big-card__title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
  </div>
  <div class="big-card__description">
    <p>
      <a href="#">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste provident
        dolorem, sapiente dolorum suscipit sunt quidem quasi atque, incidunt
        sequi quos facilis voluptatum repudiandae optio tempora dignissimos?
        Illum, cupiditate et.
      </a>
    </p>
  </div>
</div>
